.node{
    background-color: white;
    outline:1px solid rgb(172, 217, 251);
    display: inline-block;
    width: 25px;
    height: 25px;
    transition: background-color 0.4s ease;
}
.node-wall{
    background-color: rgb(52, 48, 48);
    outline: none;
}
.node-start{
    background-color: greenyellow;
}
.node-end{
    background-color: red;
}

.node-visited{
    background-color: rgb(87, 210, 210);
}

.node-highlight{
    background-color:  rgb(234, 240, 74);
}

.button-hover:hover{
    background-color: rgb(226, 226, 216);
    border-radius: 8px;
}