.cell {
  background-color: white;
  border: 1px solid #c7cad1;
  width: 50px;
  height: 50px;
  transition: background-color 0.4s ease, width 0.4 ease, height 0.4 ease;
}

.focused {
  background-color: #eaedf3;
}

.click-focused {
  background-color: #d8d4d4;
}
.border-left {
  border-left: 3px solid black !important;
}

.border-top {
  border-top: 3px solid black !important;
}
.border-bottom {
  border-bottom: 3px solid black !important;
}

.border-right {
  border-right: 3px solid black !important;
}

.collision {
  color: red !important;
  background-color: aqua !important;
}
@media screen and (max-width: 500px) {
  .cell {
    background-color: white;
    width: 38px;
    height: 42px;
    transition: background-color 0.4s ease;
  }

  .focused {
    background-color: #eaedf3 !important;
  }

  .click-focused {
    background-color: #d8d4d4 !important;
  }
  .collision {
    color: red;
    background-color: aqua !important;
  }
}
